.container {
  max-width: 1780px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;

  @media screen and (max-width: 1199px) {
    @include padding(0, 30px, 0, 30px);
  }
  @media screen and (max-width: 767px) {
    @include padding(0, 20px, 0, 20px);
  }
  
}
.body {
  background-color: #f5f3ea;
  font-family: 'Gilroy-Bold', 'Gilroy-ExtraBold', 'Gilroy-Light', 'Gilroy-Medium', 'Gilroy-Regular', 'Gilroy-Semibold', 'Inter';
}
