@font-face {
  font-family: Gilroy-Bold;
  src: url(/fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(/fonts/Gilroy-ExtraBold.ttf);
}

// 300
@font-face {
  font-family: Gilroy-Light;
  src: url(/fonts/Gilroy-Light.ttf);
}



@font-face {
  font-family: Gilroy-Medium;
  src: url(/fonts/Gilroy-Medium.ttf);
}

// 400
@font-face {
  font-family: Gilroy-Regular;
  src: url(/fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy-Semibold;
  src: url(/fonts/Gilroy-Semibold.ttf);
}
