.about-me {
  padding-top: 70px;
  padding-bottom: 70px;
  align-items: center;
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 0;
  }
  .about-me__motto {
    color: $bright-black;
    font-family: Gilroy-Light;
    @include text-properties(300, normal);
    font-size: clamp(24px, 7.5vw, 62px);
    @include padding(0, 70px, 0, 70px);
    box-sizing: border-box;
    text-align: left;

    @media screen and (max-width: 1199px) {
      @include padding(0, 30px, 30px, 30px);
      text-align: center;
    }
    @media screen and (max-width: 767px) {
      @include padding(0, 20px, 30px, 20px);
    }
  }
  .about-me__motto--bold {
    color: $bright-black;
    font-family: Gilroy-Bold;
    @include text-properties(800, normal);
    font-size: clamp(24px, 7.5vw, 62px);
  }

  .about-me__container {
    @media screen and (max-width: 1199px) {
      width: 100%;
    }
    .about-me__content {
      box-sizing: border-box;
      display: flex;
      @include padding(60px, 70px, 60px, 0);
      background: $bright-black;
      gap: 30px;
      flex-direction: column;
      align-items: flex-end;
      width: 485px;

      @media screen and (max-width: 1199px) {
        @include padding(40px, 30px, 40px, 30px);
        width: 100%;
        height: 188px;
      }
      .about-me__text {
        color: $white;
        display: flex;
        text-align: right;
        font-family: Gilroy-Medium;
        @include text-properties(400, 32px);
        font-size: clamp(28px, 8.7vw, 32px);
        text-transform: uppercase;
      }

      .about-me__icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        align-self: stretch;
      }
    }
  }
}
