.contact {
  display: flex;
  @include padding(50px, 0, 100px, 0);
  border-top: 1px solid $bright-black;

  @media screen and (max-width: 1199px) {
    @include padding(30px, 0, 50px, 0);
  }
}

.contact__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 40px;

  @media screen and (max-width: 1199px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  @media screen and (max-width: 767px) {
    gap: 30px;
  }
}

.contact__title-div {
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}

.contact__title {
  color: $grey;
  font-family: Gilroy-Light;
  @include text-properties(300, normal);
  font-size: clamp(50px, 15.6vw, 155px);
  text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    font-size: 80px;
    text-align: center;
  }
  @media screen and (max-width: 425px) {
    font-size: 55px;
  }
}

.contact__text-content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (max-width: 1199px) {
    text-align: center;
    align-items: center;
  }
}

.contact__subtitle {
  color: $bright-black;
  font-family: Gilroy-Bold;
  @include text-properties(400, normal);
  font-size: clamp(50px, 15.6vw, 64px);
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    font-size: 50px;
  }
}

.contact__text {
  color: $bright-black;
  font-family: Gilroy-Medium;
  @include text-properties(400, normal);
  font-size: 34px;
  @media screen and (max-width: 767px) {
    font-size: 30px;
  }
}

.contact__button-text {
  color: $white;
  font-family: Gilroy-Medium;
  @include text-properties(400, normal);
  font-size: 18px;
  text-transform: capitalize;
  text-align: start;
}

.contact__button-image{
  width: 21.412px;
  height: 13.333px;
  padding-top: 10px;
  padding-bottom: 10px;
}