.header__content {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  @media screen and (max-width: 767px) {
    padding-top: 20px;
  }
  .header__nav {
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    @media screen and (max-width: 767px) {
      padding-bottom: 0;
    }
    .header__logo {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .header__name {
      color: $black;
      text-align: center;
      font-family: Gilroy-ExtraBold;
      @include text-properties(800, normal);
      font-size: 35px;
      letter-spacing: -0.7px;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    .header__name--uppercase {
      color: $black;
      font-family: Gilroy-Medium;
      @include text-properties(400, normal);
      font-size: 35px;
      letter-spacing: -0.7px;
      text-transform: uppercase;
    }
    .header__menu {
      color: $bright-black;
      text-align: center;
      font-family: Gilroy-SemiBold;
      @include text-properties(400, normal);
      font-size: 25px;
    }
  }
  .header__title--name {
    color: $bright-black;
    text-align: center;
    font-family: Gilroy-SemiBold;
    white-space: nowrap;
    @include text-properties(400, normal);
    font-size: clamp(30px, 9.3vw, 150px);
    text-transform: uppercase;
  }

  .header__title--company {
    color: $bright-black;
    font-family: Gilroy-Light;
    text-transform: capitalize;
    position: relative;
    @include text-properties(300, normal);
    font-size: clamp(30px, 9.3vw, 150px);

    &::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='42' viewBox='0 0 28 42' fill='none'%3E%3Cpath d='M14 38.3625L14 1' stroke='%23252525' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M1.5459 28.5458L14.0001 41L26.4542 28.5458' stroke='%23252525' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E");
      position: absolute;
      top: 100px;
      right: 50%;
      display: block;
      @media screen and (max-width: 1199px) {
        top: 100px;
        right: 50%;
      }

      @media screen and (max-width: 767px) {
        top: 80px;
        right: 50%;
      }
      @media screen and (max-width: 425px) {
        top: 65px;
        right: 50%;
      }
    }
  }
  .header__title {
    display: flex;
  }
}

.hero__img1 {
  width: 100%;
  height: auto;
  @include padding(70px, 0, 0, 0);
  object-fit: cover;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.hero__img2 {
  display: none;
  @media screen and (max-width: 1199px) {
    display: block;
    width: 100%;
    height: 956px;
    @include padding(70px, 0, 0, 0);
    object-fit: cover;
  }
  @media screen and (max-width: 425px) {
    display: none;
  }
}

.hero__img3 {
  display: none;
  @media screen and (max-width: 425px) {
    padding-top: 50px;
    display: block;
    width: 100%;
    height: 638px;
    object-fit: cover;
  }
}
