.selected-work {
  display: flex;
  padding-top: 70px;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  @media screen and (max-width: 1199px) {
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 30px;
  }

  .selected-work__title {
    text-wrap: nowrap;
    font-size: clamp(80px, 10vw, 212px);

    @media screen and (max-width: 1199px) {
      letter-spacing: 6px;
      white-space: wrap;
    }
    @media screen and (max-width: 767px) {
      letter-spacing: 3.2px;
    }
    @media screen and (max-width: 425px) {
      font-size: 55px;
      letter-spacing: 3.2px;
    }
  }

  .selected-work__content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 70px;

    @media screen and (max-width: 1199px) {
      grid-template-rows: repeat(2, 1fr) repeat(1, 249px) repeat(2, 1fr) repeat(
          1,
          249px
        );
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
      & li:nth-child(1) {
        order: 3;
      }
      & li:nth-child(2) {
        order: 1;
      }
      & li:nth-child(3) {
        order: 2;
      }
      & li:nth-child(4) {
        order: 4;
      }
      & li:nth-child(5) {
        order: 5;
      }
      & li:nth-child(6) {
        order: 6;
      }
    }
    
    @media screen and (max-width: 767px) {
      grid-template-rows: repeat(2, 1fr) repeat(1, 208px) repeat(2, 1fr) repeat(
          1,
          208px
        );
      grid-row-gap: 20px;
    }

    .selected-work__photo {
      aspect-ratio: 1/1;
      height: 100%;
    }

    .selected-work__photo--size {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .selected-work__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      align-self: stretch;

      @media screen and (max-width: 1199px) {
        justify-content: flex-start;
        grid-row-gap: 30px;
      }
    }
    .selected-work__description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      align-self: stretch;

      @media screen and (max-width: 767px) {
        gap: 20px;
      }
    }
    .selected-work__description--title {
      color: $black;
      font-family: Gilroy-Bold;
      @include text-properties(400, 44px);
      font-size: clamp(35px, 10.9vw, 40px);
      text-transform: uppercase;

      @media screen and (max-width: 767px) {
        line-height: normal;
        font-size: 35px;
      }
    }
  }

  .selected-work__description--buttons {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }
}
