.what-i-do {
  background-image: url(/images/what-i-do-bgd.jpg);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: left top;
  border-bottom: 1px solid $bright-black;

  @media screen and (max-width: 1199px) {
    background-size: 100% 50%;
  }

  @media screen and (max-width: 767px) {
    background-size: 100% 478px;
  }
}

.what-i-do__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  @media screen and (max-width: 1199px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: 478px 1fr;
  }
}
.what-i-do__content {
  display: flex;
  flex-direction: column;
  @include padding(70px, 0, 70px, 0);
  gap: 100px;

  @media screen and (max-width: 1199px) {
    gap: 40px;
    @include padding(40px, 0, 40px, 0);
  }

  @media screen and (max-width: 767px) {
    @include padding(20px, 0, 20px, 0);
  }
}

.what-i-do__title {
  color: $bright-black;
  font-family: Gilroy-Light;
  @include text-properties(300, normal);
  font-size: clamp(55px, 17.1vw, 150px);
  text-transform: uppercase;
  padding-left: 111px;

  @media screen and (max-width: 1199px) {
    text-align: center;
    padding: 0;
  }
}

.what-i-do__text-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include padding(0, 0, 0, 111px);

  @media screen and (max-width: 1199px) {
    @include padding(0, 30px, 0, 30px);
  }

  @media screen and (max-width: 767px) {
    gap: 30px;
    padding: 0;
  }
}

.what-i-do__design-type {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.what-i-do__design-name {
  color: $black;
  font-family: Gilroy-SemiBold;
  @include text-properties(400, 48px);
  font-size: clamp(30px, 9.3vw, 44px);
  text-transform: uppercase;
  vertical-align: center;
  @include padding(0, 0, 0, 60px);

  @media screen and (max-width: 767px) {
    @include padding(0, 0, 0, 50px);
  }

  @media screen and (max-width: 425px) {
    @include padding(0, 0, 0, 40px);
  }

  &--first::before {
    content: "01";
    font-family: Gilroy-Light;
    position: absolute;
    left: 0;


    @media screen and (max-width: 767px) {
      font-size: 35px;
    }

    @media screen and (max-width: 425px) {
      font-size: 30px;
    }
  }

  &--second::before {
    content: "02";
    font-family: Gilroy-Light;
    position: absolute;
    left: 0;

    @media screen and (max-width: 767px) {
      font-size: 35px;
    }

    @media screen and (max-width: 425px) {
      font-size: 30px;
    }
  }

  &--third::before {
    content: "03";
    font-family: Gilroy-Light;
    position: absolute;
    left: 0;

    @media screen and (max-width: 767px) {
      font-size: 35px;
    }

    @media screen and (max-width: 425px) {
      font-size: 30px;
    }
  }

  &--forth::before {
    content: "04";
    font-family: Gilroy-Light;
    position: absolute;
    left: 0;

    @media screen and (max-width: 767px) {
      font-size: 35px;
    }

    @media screen and (max-width: 425px) {
      font-size: 30px;
    }
  }
}

.what-i-do__design-text {
  color: $black;
  font-family: Inter;
  @include text-properties(400, 28px);
  font-size: clamp(20px, 6.2vw, 28px);
  padding-bottom: 30px;
}

.what-i-do__design-text--bottom{
  padding-bottom: 0;
}
